<html lang="en">

<body>
    <h1>users</h1>
    <% users.forEach(users=>{ %>
        <div>
            <h2><%= user.company_name%></h2>
            <p>
                <%= user.email%>
            </p>

        </div>
        <%

    })%>
</body>

</html>