<html lang="en">

<body>
    <h1>users</h1>
   
        <div>
            <h2>
             name:   <%= user.company_name%>
            </h2>
            <p>
              email:  <%= user.email%>
            </p>

        </div>
       
</body>

</html>